main  {
  margin-top: 7%;
  height: 50vh;
  display: flex;
}

h1{
  font-size: 3em;
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.mainContent{
  width: 45%;
}

img {
  height: 100% !important;
  object-fit: cover;
  width: 27.5%;
}

p{
  width: 60%;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}
