<div id="header">
    <section id="Menu">
        <ul>
            <li><a routerLink="/homePage"  routerLinkActive="activeHeaderLink">Accueil</a></li>
            <li><a routerLink="history" routerLinkActive="activeHeaderLink">Histoire</a></li>
            <li><a routerLink=""  routerLinkActive="activeHeaderLink" >Savoir faire</a></li>
        </ul>
        <ul>
          <li><a>Nos jus</a></li>
            <li><a>Fruits et Légumes</a></li>
            <li><a>Contact</a></li>
        </ul>
    </section>
    <img id="logo" src="../../assets/logo-terre-de-durance.png" alt="">


</div>
