<div id="header">
    <section id="Menu">
        <ul>
            <li><a routerLink="/homePage"  routerLinkActive="activeHeaderLink">Accueil</a></li>
            <li><a routerLink="history" routerLinkActive="activeHeaderLink">Histoire</a></li>
            <li><a routerLink="/savoir-faire"  routerLinkActive="activeHeaderLink" >Savoir faire</a></li>
        </ul>
        <ul>
            <li class="deroulant">
              <a routerLink="/homeJus" >Nos jus</a>
              <ul class="sousmenu">
                <li><a href="jus/Pommes">Pommes</a></li>
                <li><a href="jus/Poires">Poires</a></li>
                <li><a href="jus/Pommes-Poires">Pommes-Poires</a></li>
              </ul>
            </li>
            <li class="deroulant">
              <a routerLink="/homeFruitLegume">Fruits et Légumes</a>
              <ul class="sousmenu">
                <li><a href="/homePommes">Pommes</a></li>
                <li><a href="/homePoires">Poires</a></li>
                <li><a href="/homeCourges">Courges</a></li>
              </ul>
            </li>
            <li><a>Contact</a></li>
        </ul>
    </section>
    <img id="logo" src="../../assets/logo-terre-de-durance.png" alt="">
</div>
