<div id="footer">
  <h1>Terres de Durance</h1>
  <section id="containsFooter">

    <section id="allMenu">
      <div>
        <h2>Menu</h2>
        <ul>
          <li><a routerLink="/" routerLinkActive="footerLinkActive">Accueil</a></li>
          <li><a routerLink="history" routerLinkActive="footerLinkActive">Histoire </a></li>
          <li><a routerLink="" routerLinkActive="footerLinkActive">Savoir faire</a></li>
          <li><a routerLink="" routerLinkActive="footerLinkActive">Nos Jus</a></li>
          <li><a routerLink="" routerLinkActive="footerLinkActive">Fruits et Légumes</a></li>
          <li><a routerLink="" routerLinkActive="footerLinkActive">Contact</a></li>
        </ul>
      </div>
    </section>
    <section id="allSocial">
      <div>
        <h2>Suivez-nous</h2>
        <ul>
          <li class="socialMediaIcons"><a href="https://www.facebook.com/p/Terres-de-Durance-100083206814860/"
                                          target="_blank"><img
            ngSrc="../../assets/facebook_icon.png" alt="" height="512" width="512"> Facebook</a></li>
          <li class="socialMediaIcons"><a href="https://www.instagram.com/terresdedurance/" target="_blank"><img
            ngSrc="../../assets/instagram.png"
            alt="instagram" height="512"
            width="512">Instagram</a></li>
        </ul>
      </div>
    </section>
    <section id="contactForm">
      <div>
        <h2>Contact</h2>
        <form action="">
          <section class="nameSurname">
            <input type="text" placeholder="Nom">
            <input type="text" placeholder="Prénom">
          </section>
          <input type="email" placeholder="Email">
          <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
          <button>Envoyer</button>
        </form>
      </div>
    </section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.12080207425!2d5.005232045956899!3d43.85332477289558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5f76cd54ad8ad%3A0xc2107034cdb53d9!2sDurand%20AM!5e0!3m2!1sfr!2sfr!4v1722011095352!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </section>
  <section id="maps">
  </section>

  <p id="credit">©2023 par Terres de DURANCE.  - Tous droits réservés - créer par <a href="https://gellyvalentin.pages.dev">Valentin GELLY</a></p>

</div>
