main  {
  margin-top: 15vh;
  height: 50vh;
  display: flex;
}

h1{
  font-size: 3em;
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.mainContent{
  width: 45%;
}

img {
  height: 100% !important;
  object-fit: cover;
  width: 27.5%;
}

p{
  width: 60%;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1200px) {

  main{
    height: 65vh;
  }

}


@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    height: 100%;
    width: 65%;
    align-items: center;
    margin: 0 auto;
  }

  img {
    width: 120%;
  }

  .mainContent {
    width: 100%;
  }

  p {
    width: 100%;
  }

  .imgOne{
    display: none;
  }
}
