<main>
  <h1>Nos Courges</h1>
  <section class="nosJusContent">
    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/courges/butternuts.jpg" alt="Image 1">
        <div class="text-overlay" >Butternut</div>
      </section>
      <a class="btn-overlay" routerLink="/courges/Butternut" >En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/courges/pottimaron.jpg" alt="Image 3">
        <div class="text-overlay"  >Potimarron</div>
      </section>
      <a class="btn-overlay"  routerLink="/courges/Potimarron">En savoir plus </a>
    </div>
    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/courges/muscades.jpg" alt="Image 3">
        <div class="text-overlay"  >Muscade</div>
      </section>
      <a class="btn-overlay"  routerLink="/courges/Muscade">En savoir plus </a>
    </div>

  </section>
</main>
