<main>

  <h1>Nos Fruits</h1>
  <span id="grandePage">
    <section class="nosJusContent">
      <div class="slide-content">
        <section class="imageAndText">
          <img src="../../assets/pommes/IMG_8718.jpeg" alt="Image 1">
          <div class="text-overlay" >Pommes</div>
        </section>
        <a class="btn-overlay" routerLink="/homePommes" >En savoir plus </a>
      </div>

      <div class="slide-content">
        <section class="imageAndText">
          <img src="../../assets/poires/IMG_8720.jpeg" alt="Image 3">
          <div class="text-overlay"  >Poires</div>
        </section>
        <a class="btn-overlay"  routerLink="/homePoires">En savoir plus </a>
      </div>
    </section>

    <h1>Nos Légumes</h1>
    <section class="nosJusContent">
      <div class="slide-content">
        <section class="imageAndText">
          <img src="../../assets/courges/courgesAboutHomePage.jpg" alt="Image 1">
          <div class="text-overlay" >Courges</div>
        </section>
        <a class="btn-overlay" routerLink="/homeCourges" >En savoir plus </a>
      </div>
    </section>
  </span>
  <span id="responsive780">
    <section class="nosJusContent">
      <a class="slide-content" routerLink="/homePommes">
        <section class="imageAndText">
          <img src="../../assets/pommes/IMG_8718.jpeg" alt="Pommes">
          <div class="text-overlay" >Pommes</div>
        </section>
      </a>

      <a class="slide-content" routerLink="/homePoires">
        <section class="imageAndText">
          <img src="../../assets/poires/IMG_8720.jpeg" alt="Poires">
          <div class="text-overlay"  >Poires</div>
        </section>
      </a>
    </section>

    <h1>Nos Légumes</h1>
    <section class="nosJusContent">
      <a class="slide-content" routerLink="/homeCourges">
        <section class="imageAndText">
          <img src="../../assets/courges/courgesAboutHomePage.jpg" alt="Courges">
          <div class="text-overlay" >Courges</div>
        </section>

      </a>
    </section>
  </span>


</main>

