<main>

  <h1>Nos Fruits</h1>
  <section class="nosJusContent">
    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/pommes/IMG_8718.jpeg" alt="Image 1">
        <div class="text-overlay" >Pommes</div>
      </section>
      <a class="btn-overlay" routerLink="/homePommes" >En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/poires/IMG_8720.jpeg" alt="Image 3">
        <div class="text-overlay"  >Poires</div>
      </section>
      <a class="btn-overlay"  routerLink="/homePoires">En savoir plus </a>
    </div>
  </section>

  <h1>Nos Légumes</h1>
  <section class="nosJusContent">
    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/courges/courgesAboutHomePage.jpg" alt="Image 1">
        <div class="text-overlay" >Courges</div>
      </section>
      <a class="btn-overlay" routerLink="/homeCourges" >En savoir plus </a>
    </div>
  </section>
</main>

