<main>
  <h1 >Notre Histoire</h1>
  <section class="mainContent">
    <p>Au sein de la famille Durand, l'exploitation agricole a été établie en
    1970 et a depuis vu trois générations se succéder. Actuellement, c'est Jean
    Michel Durand qui est à la tête de l'entreprise Terres de Durance à Cavaillon, fondée en 2012.</p>

    <p>Je suis Jean-Michel DURAND, arboriculteur spécialisé dans la production de poires, pommes et de courges bio dans le Vaucluse.</p>

    <p>Après mes études de commerce et quelques expériences à l'étranger,
    je me suis installé en 1998 sur l’exploitation familiale située entre le Lubéron et la Durance.</p>

    <p>Nous récoltons depuis plusieurs années les pommes et poires de
    nos arbres fruitiers cultivés dans le respect de la nature et de la biodiversité.</p>

    <p> Grâce à notre savoir-faire intergénérationnel, nous sommes
    en cohérence avec l'évolution des exigences des consommateurs dans le respect
    de la saisonnalité de nos fruits sains, économiques et équitables.</p>

  </section>
</main>
