<main>
  <h1>Notre Savoir faire</h1>
  <div class="content">
    <h2>AB garantit au consommateur</h2>

    <h3>La production biologique AB</h3>
    <p>
      La production biologique certifiée par AB garantit une excellence environnementale à tous les stades de production. Cette certification atteste de l'absence d'utilisation de produits chimiques de synthèse et d'organismes génétiquement modifiés (OGM) grâce à des pratiques rigoureuses.
    </p>

    <h3>Respect des cycles naturels</h3>
    <p>Le mode de production biologique repose sur :</p>
    <ul>
      <li>Le respect des systèmes et cycles naturels</li>
      <li>Le maintien et l'amélioration de la santé du sol, de l'eau, des végétaux et des animaux</li>
    </ul>
    <p>Cela contribue à :</p>
    <ul>
      <li>Un niveau élevé de biodiversité</li>
      <li>Le respect des normes de bien-être animal</li>
    </ul>

    <h2>Les enjeux techniques en arboriculture biologique</h2>

    <h3>Recherche d'équilibres biologiques</h3>
    <ul>
      <li>Favoriser la biodiversité</li>
      <li>Minimiser la lutte directe par l'aménagement des parcelles, des haies, etc.</li>
    </ul>

    <h3>Équilibre de l'arbre</h3>
    <p>Trouver un équilibre entre rendement et faible pression des maladies.</p>

    <h3>Recherche de variétés adaptées</h3>
    <ul>
      <li>Développer des variétés adaptées à la production biologique</li>
      <li>Répondre aux besoins des producteurs (résistance aux maladies comme la moniliose, la tavelure, gestion de l'alternance)</li>
      <li>Satisfaire les attentes des consommateurs (qualités gustatives, nutritionnelles)</li>
    </ul>
  </div>

</main>
