main{
  margin-top: 7%;
}


h1 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  z-index: 3;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #333; /* Couleur du texte */
  width: 100%;
  margin: 20px auto 55px auto;
}

h1::before,
h1::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #333; /* Couleur et épaisseur du trait */
  margin: 0 15px; /* Espacement entre le texte et les traits */
}

h1::before {
  margin-right: 15px;
}

h1::after {
  margin-left: 15px;
}

.mainContent{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

.mainContent>section{
  width: 520px;
  padding: 20px;
  height: 500px;
}


.mainContent>section>img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
h2 {
  text-align: center;
  margin-top: 0;
}

.mainContent>section>p{
  text-align: justify;
}

.terroirSection{
  margin-top: 35px;
}

#imageCavaillon img {
  height: 421px;
  object-fit: cover;
}
