main{
  margin-top: 8%;
  background-color: #EFEFF4;
}

#mainContent{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
}

h1 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  z-index: 3;
  display: flex;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #333; /* Couleur du texte */
  width: 100%;
  margin: 20px auto 55px auto;
}

h1::before,
h1::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #333; /* Couleur et épaisseur du trait */
  margin: 0 15px; /* Espacement entre le texte et les traits */
}

h1::before {
  margin-right: 15px;
}

h1::after {
  margin-left: 15px;
}

.left{
  width: 50%;
  background-color: white;
  padding: 2% ;
}

.right{
  width: 50%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right img{
  height: 100%;
  object-fit: contain;
}

li {
  display: table-row;
}


.varietePoires::before, .caracteristiqueList>li::before {
  display: table-cell;
  text-align: right;
  content: "+";
  font-size: 1em;
  font-weight: bold;
  color: var(--dark-brown);
  padding-right: 12px;
}

