<main>
  <h1>Nos Pommes </h1>
  <section class="nosJusContent" id="grandePage">
    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/pommes/granny_smith.jpg" alt="Image 1">
        <div class="text-overlay" >Granny Smith </div>
      </section>
      <a class="btn-overlay" routerLink="/pommes/Granny-Smith" >En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/pommes/cripps_smith.jpg" alt="Image 3">
        <div class="text-overlay"  >Cripps Pink</div>
      </section>

      <a class="btn-overlay"  routerLink="/pommes/Cripps-Pink">En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/pommes/del_blush.jpg" alt="Image 3">
        <div class="text-overlay">Del Blush</div>
      </section>

      <a class="btn-overlay"  routerLink="/pommes/Del-Blush" >En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/pommes/golden.jpg" alt="Image 3">
        <div class="text-overlay">Golden</div>
      </section>

      <a class="btn-overlay"  routerLink="/pommes/Golden" >En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/pommes/gala.jpg" alt="Image 3">
        <div class="text-overlay">Gala</div>
      </section>

      <a class="btn-overlay" routerLink="/pommes/Gala" >En savoir plus </a>
    </div>
  </section>


  <section class="nosJusContent" id="petitePage">
    <a class="slide-content" routerLink="/pommes/Granny-Smith">
      <section class="imageAndText">
        <img src="../../assets/pommes/granny_smith.jpg" alt="Image 1">
        <div class="text-overlay" >Granny Smith </div>
      </section>
    </a>

    <a class="slide-content" routerLink="/pommes/Cripps-Pink">
      <section class="imageAndText">
        <img src="../../assets/pommes/cripps_smith.jpg" alt="Image 3">
        <div class="text-overlay"  >Cripps Pink</div>
      </section>
    </a>

    <a class="slide-content"  routerLink="/pommes/Del-Blush">
      <section class="imageAndText">
        <img src="../../assets/pommes/del_blush.jpg" alt="Image 3">
        <div class="text-overlay">Del Blush</div>
      </section>
    </a>

    <a class="slide-content"  routerLink="/pommes/Golden" >
      <section class="imageAndText">
        <img src="../../assets/pommes/golden.jpg" alt="Image 3">
        <div class="text-overlay">Golden</div>
      </section>
    </a>

    <a class="slide-content" routerLink="/pommes/Gala" >
      <section class="imageAndText">
        <img src="../../assets/pommes/gala.jpg" alt="Image 3">
        <div class="text-overlay">Gala</div>
      </section>

    </a>
  </section>


</main>
