<main>
  <h1>Nos Poires </h1>
  <section class="nosJusContent" id="grandePage">
    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/poires/guyot.jpg" alt="Image 1">
        <div class="text-overlay" >Guyot </div>
      </section>
      <a class="btn-overlay" routerLink="/poires/Guyot" >En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/poires/william.jpg" alt="Image 3">
        <div class="text-overlay" >William </div>
      </section>

      <a class="btn-overlay" routerLink="/poires/William" >En savoir plus </a>
    </div>

  </section>
  <section class="nosJusContent" id="petitePage">
    <a class="slide-content" routerLink="/poires/Guyot">
      <section class="imageAndText">
        <img src="../../assets/poires/guyot.jpg" alt="Image 1">
        <div class="text-overlay" >Guyot </div>
      </section>
    </a>

    <a class="slide-content"  routerLink="/poires/William" >
      <section class="imageAndText">
        <img src="../../assets/poires/william.jpg" alt="Image 3">
        <div class="text-overlay" >William </div>
      </section>
    </a>

  </section>
</main>
