<main>
  <h1>Nos Poires </h1>
  <section id="nosJusContent">
    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/poires/william.png" alt="Image 1">
        <div class="text-overlay" >Guyot </div>
      </section>
      <a class="btn-overlay" routerLink="/poires/Guyot" >En savoir plus </a>
    </div>

    <div class="slide-content">
      <section class="imageAndText">
        <img src="../../assets/poires/william.png" alt="Image 3">
        <div class="text-overlay" >William </div>
      </section>

      <a class="btn-overlay" routerLink="/poires/William" >En savoir plus </a>
    </div>

  </section>
</main>
