/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


*{
    --black :   #222222;
    --white :   #ffffff;
    --light-brown: #C6BB8C;
    --brown : #C4A668;
    --dark-brown : #8B4513;
    --green: #62733E;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: var(--black);
}
a:hover{
    color: var(--dark-brown);
  transition: 0.3s;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
    color: var(--black);
}
