<main>
  <section class="sectionStep">
    <h2 id="titleWelcome"> Bienvenue chez Terres de Durance </h2>
    <video autoplay muted loop property="backgroundPosition">
      <source src="../../assets/video_fond_homepage.mov">
    </video>
  </section>
  <section class="mainContent">
    <section class="articleSection" id="histoire">
      <section class="halfSection">
        <section class="contentHalfSection">
          <h3>Un peu d'histoire ... </h3>
          <p>Au sein de la famille Durand, l'exploitation agricole a été établie en 1970 et a depuis
            vu trois générations se succéder. Depuis de nombreuses années, la famille à su développer
            des compétences en arboriculture et les a appliqués dans dans ces terroirs à Cavaillon.
            Chaque génération a été indispensable dans cette exploitation pour devenir ce qu’elle est
            aujourd’hui.
          </p>
          <button class="aboutButton" routerLink="/history" >En savoir plus</button>
        </section>
      </section>

      <img src="../../assets/paysage_histoire.png" alt="" class="halfSection">
    </section>
    <section class="articleSection" id="savoirFaire">
      <img src="../../assets/savoirFaire.JPG" alt="" class="halfSection">
      <section class="halfSection">
        <section class="contentHalfSection">
          <h3>Notre savoir faire ... </h3>
          <p> Dans un contexte environnemental plus complexe d’année en année,
            nous avons pu accroître notre domaine de savoir-faire en garantissant au consommateur
            une agriculture biologique, en soutenant la préservation de nos agents pollinisateurs et en enrichissant notre terroir.
          </p>
          <button class="aboutButton" routerLink="/savoir-faire" >En savoir plus</button>
        </section>
      </section>
    </section>

    <section id="nosJus">
      <h2>Nos Jus De Fruits Bio </h2>
      <section id="nosJusContent">
        <span id="grandePage">
          <div class="slide-content">
            <section class="imageAndText">
              <img src="../../assets/jus/mini_bouteille_pommes.jpeg" alt="Image 1">
              <div class="text-overlay" >Pommes</div>
            </section>
              <a class="btn-overlay" (click)="goToJus('Pommes')" >En savoir plus </a>
          </div>
          <div class="slide-content">
            <section class="imageAndText">
              <img src="../../assets/jus/mini_bouteille_pomme_poire.jpeg" alt="Image 3">
              <div class="text-overlay">Pommes-Poires</div>
            </section>
              <a class="btn-overlay" (click)="goToJus('Pommes-Poires')" >En savoir plus </a>
          </div>
          <div class="slide-content">
            <section class="imageAndText">
              <img src="../../assets/jus/mini_bouteille_poires.jpeg" alt="Image 2">
              <div class="text-overlay" >Poires</div>
            </section>
            <a class="btn-overlay" (click)="goToJus('Poires')" >En savoir plus</a>
          </div>
        </span>
        <span id="responsive780">
          <a class="slide-content" (click)="goToJus('Pommes')">
            <section class="imageAndText">
              <img src="../../assets/jus/mini_bouteille_pommes.jpeg" alt="Image 1">
              <div class="text-overlay" >Pommes</div>
            </section>
              <a class="btn-overlay"  >En savoir plus </a>
          </a>

          <a class="slide-content" (click)="goToJus('Pommes-Poires')">
            <section class="imageAndText">
              <img src="../../assets/jus/mini_bouteille_pomme_poire.jpeg" alt="Image 3">
              <div class="text-overlay">Pommes-Poires</div>
            </section>

              <a class="btn-overlay"  >En savoir plus </a>
          </a>
          <a class="slide-content" (click)="goToJus('Poires')">
            <section class="imageAndText">
              <img src="../../assets/jus/mini_bouteille_poires.jpeg" alt="Image 2">
              <div class="text-overlay" >Poires</div>
            </section>
            <a class="btn-overlay"  >En savoir plus</a>
          </a>
        </span>
      </section>
    </section>
    <section id="fruitEtLegume">
      <section class="fruitSection" id="pommesBackground" style="background-image: url('../../assets/pommes/pommeAboutHomePage.jpeg');">
        <h3>Pommes</h3>
        <button class="aboutButton" routerLink="/homePommes">En savoir plus</button>
      </section>
      <section class="fruitSection" id="poiresBackground">
        <h3>Poires</h3>

        <button class="aboutButton" routerLink="/homePoires" style="background-image: url('../../assets/poires/poiresBackgroundHomePage.jpg');">En savoir plus</button>
      </section>
      <section class="fruitSection" id="courgesBackground" style="background-image: url('../../assets/courges/courgesAboutHomePage.jpg');">
        <h3>Courges</h3>
        <button class="aboutButton" routerLink="/homeCourges">En savoir plus</button>
      </section>
    </section>
  </section>
</main>
