<main>
  <h1>Nous contacter</h1>

  <section>
    <h2>Par téléphone</h2>
    <p>Vous pouvez nous joindre par téléphone au 04 90 71 56 58.</p>

    <h2>Par courrier</h2>
    <p>Vous pouvez nous écrire à l'adresse suivante :</p>
    <address>
      <p>EARL Terres de Durance</p>
      <p>173 Chem. des Iscles du Temple</p>
      <p>84300 Cavaillon</p>
    </address>
    <h2>Par email</h2>
    <p>Vous pouvez nous envoyer un email à l'adresse suivante :</p>
    <p><a href="mailto:terresdedurance@gmail.com"> terresdedurance&#64;gmail.com</a></p>
  </section>
</main>
